<html>
<head>
<title>{{contact.name}}</title>
<style>
div.past {
				 color: #999999;
}
</style>
</head>
<body>
	<h1>{{contact.name}}</h1>
	<table>
		<tr>
			<td>
				Phone Number:
			</td>
			<td>
				{{contact.phone_number}}
			</td>
		</tr>
		<tr>
			<td>
				latest call
			</td>
			<td>
				{{contact.latest_time_scheduled_pst}}
			</td>
		</tr>
		<tr>
			<td>total calls</td>
			<td>
				{{contact.total_calls}}
			</td>
		</tr>
		<tr>
			<td>partners</td>
			<td>
				{{contact.distinct_partners}}
			</td>
		</tr>
		<tr>
			<td>partner names</td>
			<td>
				{{contact.partner_names}}
			</td>
		</tr>
	</table>
	<a href="/contact_edit?contact_id={{contact.id}}">Edit contact</a>
	<br/>
	<br/>
	{% for couple_key, couple_dict in calls_by_couple.items() %}
<h3>{{couple_dict.couple_name}}</h2>
<a href="/engagement_create?contact_a_id={{couple_dict.contact_a_id}}&contact_b_id={{couple_dict.contact_b_id}}">Schedule new call for {{couple_dict.couple_name}}</a>
{% for call in couple_dict.calls %}
	 <div {{ 'class="past"' if call['relative_delta'].days < 0 or call['relative_delta'].hours < 0 }}>
	 {{call.time_scheduled_str}} ({{call.time_scheduled_pst}})
	 </div>
{% endfor %}
{% endfor %}
	<div>
		<h3>Schedule a call with another user by selecting below:</h3>
	<form action="/engagement_create" method="GET">
		<input type="hidden" name="contact_a_id" value="{{contact.id}}"/>
		<select id="contact_b_id" name="contact_b_id">
			{% for cur_contact in contact_list_minimal %}
			  {% if contact.id != cur_contact.id %}
     			<option value="{{cur_contact.id}}">{{cur_contact.name}}</option>
			  {% endif %}
			{% endfor %}
		</select>
		<button type="submit">submit</button>
	</form>
	</div>
