<html>
<head>
<title>Blindchat Admin Panel</title>
</head>
<body>
<h1>BlindChat Admin Panel</h1>
<ul>
<li><a href="/contacts">View clients</a></li>
<li><a href="/contact_edit">Register client</a></li>
<li><a href="/engagements">View engagements</a></li>
</ul>
<pre><3 you got this <3</pre>
</body>
</html>