<!doctype html>

<html>
<head>
<title>engagements</title>
<style>
div.past {
				 color: #999999;
}
</style>
</head>
<body>
{% for call in calls %}
{% if call['relative_delta'].days < 14 and call['relative_delta'].days > -14 %}
	 {{call.contact_a_name}} & {{call.contact_b_name}}
	 <div {{ 'class="past"' if call['relative_delta'].days < 0 or call['relative_delta'].hours < 0 }}>
	 Scheduled {{call.time_scheduled_str}} ({{call.time_scheduled_pst}})<br/>
	 Call {% if call.time_processed_pst %} processed at {{call.time_processed_pst}}{% else %} not yet processed{% endif %}.</br>																												 
	 </div>
	 {% endif %}
{% endfor %}
</body>
</html>
