<html>
	<head>
		<title>Log in</title>
	</head>
	<body>
		<form action="/login" method="post">
			<input type="password" name="password"/>
			<button type="submit">Authenticate</button>
		</form>
	</body>
</html>
